[submodule "Fogbugz"]
	path = Fogbugz
	url = git@github.com:paylogic/java-fogbugz
[submodule "fogbugz-plugin"]
	path = fogbugz-plugin
	url = git@github.com:jenkinsci/fogbugz-plugin.git
[submodule "GatekeeperPlugin"]
	path = GatekeeperPlugin
	url = git@github.com:jenkinsci/gatekeeper-plugin.git
[submodule "ssh-slaves-plugin"]
	path = ssh-slaves-plugin
	url = git@github.com:paylogic/ssh-slaves-plugin.git
[submodule "cucumber-testresult-plugin"]
	path = cucumber-testresult-plugin
	url = git@github.com:paylogic/cucumber-testresult-plugin.git
